@import "./helper/variable";
@import './helper/mixin';
@import "./partials/reset";
@import "./partials/font";
@import "./partials/base";
@import "./partials/day-card";

.birthday-cal {
    max-width: 1440px;
    margin: auto;
    padding: 70px 50px;
    h1 {
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        font-weight: 400;
    }
}

.bcal-input-wrap {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .bcal-data {
        width: 55%;
        // margin-right: 40px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        textarea {
            width: 100%;
            min-height: 400px;
            @include border();
            padding: 15px;
            resize: none;
        }
    }

    .bcal-year {
        width: 40%;
        @media screen and (max-width: 768px) {
            margin-top: 40px;
            width: 100%;
            text-align: center;
        }
        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            @media screen and (max-width: 768px) {
                align-items: center;
            }
        }
        span {
            text-transform: capitalize;
            color: grey;
            font-size: 18px;
            line-height: 22px;
        }
        input[type="number"] {
            width: 100%;
            max-width: 250px;
            min-height: 40px;
            padding: 5px 15px;
            margin-top: 10px;
            @include border();
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        button {
            @include button();
        }
    }
}