$colors: #555c7c, #9ed600, #c97b97, #76cae7, #e44919, #0250d3, #e35fa9, #64cdff, #ed9809;

$btn-bg: #2c86ef;

$border-default: #dedede;

:root {
    --bcal-sun: 1fr;
    --bcal-mon: 1fr;
    --bcal-tue: 1fr;
    --bcal-wed: 1fr;
    --bcal-thu: 1fr;
    --bcal-fri: 1fr;
    --bcal-sat: 1fr;
    --bcal-default: 1fr;
}